.btn-icon {
  border: 1px solid var(--primary-400);
  border-radius: 50%;
  display: grid;
  place-items: center;
  height: 2.5rem;
  aspect-ratio: 1/1;

  &:hover:is(:not(:disabled)) {
    cursor: pointer;
    background-color: var(--error-light);
  }

  &:disabled {
    border-color: var(--primary200);
    cursor: not-allowed;
  }
}
